<!-- about works -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>
        Sri Gaudiya Math, Mithapur, Patna ( Bihar ),<br> Pin – 800001 Estb. on - 14th August, 1933 by the Lotus hands of Srimad Bhakti Siddhanta Saraswati Goswami Prabhupada.<br> On 14th August, 1933 the Deities endowed with life at Sri Gaudiya Math, Patna, the capital city of Bihar by Srila Prabhupada. Srila Gurumaharaj built up a beautiful temple where the deities could be worshipped properly on mission own land there. After a long period of time the temple was being re-constructed and inaugurated by the lotus hands of Acharya and president of the Mission Om Vishnupada Paramhansa 108 Srimad Bhakti Suhrid Paribrajak Maharaj on 3rd May, 1995 on the auspicious day of Akshaya Tritia . On this occasion a month long Harisamkirtan Mahotsav was performed in the city. Thousands of spiritual-minded people joined the celebration.
    </p>
</body>
</html>
