<section class="hero-slider hero-style-1">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner slide-bg-image" data-background="assets/images/slider/slide-2.jpg">
<div class="slide-shape">
    <img src="assets/images/shape/shape.png" alt="">
</div>
</div> <!-- end slide-inner -->
</div>
<div class="swiper-slide">
<div class="slide-inner slide-bg-image" data-background="assets/images/slider/slide-1.jpg">
<div class="container">
    <div data-swiper-parallax="200" class="slide-thumb">
        <span>Welcome to </span>
    </div>
    <div data-swiper-parallax="300" class="slide-title">
        <h2>Sri Sri Radha Banke Bihari ji Temple Iskcon  Patna.</h2>
    </div>
    <div data-swiper-parallax="400" class="slide-text">
        <p>
            Sri Sri Radha Banke Bihari Ji Mandir, generally known as the ISKCON Patna Temple, is the upcoming temple on Buddha Marg in Patna, Bihar, India.
        </p>
    </div>
    <div class="clearfix"></div>
</div>
<!--<div class="slide-shape">
    <img src="assets/images/shape/shape.png" alt="">
</div>-->
</div> <!-- end slide-inner -->
</div> <!-- end swiper-slide -->
<!-- end swiper-slide -->

</div>
<!-- end swiper-wrapper -->
<!-- swipper controls -->
<div class="swiper-pagination"></div>
</div>
</section>
<!-- end of hero slider -->